h1 {
	color: rgb(2, 132, 130);
}

h2 {
	color: #ffd700;
}

footer {
	text-align: center;
    background-color: #808080;      

}

a {
    background-color: #ffbf00; 
    color: white; 
    padding: 35px;
    display: block;
    float: left;            
}

a:hover {
    background-color: #ee5f3c;      
}

nav {
    background-color: #808080;
        
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: ".";
        clear: both;
        height: 0;
        font-size: 0;           
      }

.board {
    display: inline-block;
    width: 50%;
    height: 50%;
}

.card {
    background-color: yellow;
    width: 150px;
    height: 200px;
    border: 1px solid #000000;
    border-radius: 10px; 
    float: left;
    margin: 8%;
}
.name {
	color: #ff0000;
}